body {
    font-family: Arial, sans-serif;
    background-color: grey;
}

.Container {
    max-width: 400px;
    margin: 50px auto;
}

h2 {
    text-align: center;
}

form {
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.loggroup {
    margin-bottom: 20px;
}
.loggroup label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"]
 {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: skyblue;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: blue;
}



